@import "tailwindcss";

@layer components {
    .gradient-background {
        background-image: linear-gradient(to right bottom, #1b1b1b, #1a181e, #191520, #1a1121, #1c0b22, #240925, #2d0626, #360025, #480023, #58001d, #650013, #6f0000);
    }

    .glassmorphism {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .button {
        @apply flex items-center gap-x-4 rounded-lg text-center font-medium cursor-pointer transition-all
    }

    .label {
        @apply block font-medium text-white
    }

    .error {
        @apply font-medium text-red-400 h-4
    }

    .text-input {
        @apply w-full bg-gray-50 border border-gray-300 text-gray-900 shadow rounded-lg font-medium cursor-text transition-all
    }
}